.featured-demo .glimdown-render,
.featured-demo [data-repl-output] {
  @apply w-full max-w-full p-20 bg-gradient-to-r from-violet-600 to-indigo-600 rounded-xl max-h-80 text-slate-50;
}

.featured-demo.auto-height .glimdown-render,
.featured-demo.auto-height [data-repl-output] {
  @apply max-h-none;
}
